/* [Master Stylesheet v-1.0.0] */
/* :: 1.0 Import Web Fonts */
.blog-wrapper-container {
	width: 90%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px){
	.blog-wrapper-container {
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.blog-wrapper-container {
		max-width: 720px;
	}
}
@media (min-width: 992px){
	.blog-wrapper-container {
		max-width: 960px;
	}
}
@media (min-width: 1200px){
	.blog-wrapper-container {
		max-width: 1140px;
	}
}

@media (min-width: 992px){
	.divide-50 {
		max-width: 50%;
	}
}

.row-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

/* :: 15.0 Blog Area CSS */
.blog-wrapper {
	position: relative;
	z-index: 1; }
	.blog-wrapper .single-blog-area {
	padding: 7% 7% 0 7%; 	/* ã | ‰E | ‰º | ¶ */
	position: relative;
	z-index: 1;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	overflow: hidden; }
	.blog-wrapper .single-blog-area img {
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
		width: 100%;
		-webkit-transition-duration: 500ms;
		transition-duration: 500ms; }
	.blog-wrapper .single-blog-area .post-title {
		-webkit-transition-duration: 500ms;
		transition-duration: 500ms;
		background-color: rgba(255,255,255,0.5);
		padding: 20px 40px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 60%;
		height: auto;
		z-index: 10; }
		@media only screen and (max-width: 767px) {
		.blog-wrapper .single-blog-area .post-title {
			padding: 20px; } }
		.blog-wrapper .single-blog-area .post-title a {
		text-decoration: none;
		color: black;
		display: block;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.5; }
		@media only screen and (max-width: 767px) {
			.blog-wrapper .single-blog-area .post-title a {
			font-size: 14px; } }
		@media only screen and (min-width: 576px) and (max-width: 767px) {
			.blog-wrapper .single-blog-area .post-title a {
			font-size: 18px; } }
	span.dateblog:before {
		content: '';
		display: inline-block;
		width: 15px;/*‰æ‘œ‚Ì•*/
		height: 15px;/*‰æ‘œ‚Ì‚‚³*/
		background-image: url(../img/pen.svg);
		background-size: contain;
		vertical-align: middle;
	}
	.blog-wrapper .single-blog-area .hover-content {
		-webkit-transition-duration: 500ms;
		transition-duration: 500ms;
		background-color: #ffffff;
		padding: 20px 40px;
		position: absolute;
		width: 60%;
		max-height: 100%;
		bottom: 0;
		z-index: 100;
		left: -100%;
		opacity: 0;
		visibility: hidden; 
		}
		@media only screen and (max-width: 767px) {
		.blog-wrapper .single-blog-area .hover-content {
			padding: 20px; } }
		.blog-wrapper .single-blog-area .hover-content .hover-post-title a {
		text-decoration: none;
		color: black;
		display: block;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.5;
		margin-bottom: 20px; }
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			.blog-wrapper .single-blog-area .hover-content .hover-post-title a {
			font-size: 16px;
			margin-bottom: 10px; } }
		@media only screen and (max-width: 767px) {
			.blog-wrapper .single-blog-area .hover-content .hover-post-title a {
			font-size: 14px;
			margin-bottom: 10px; } }
		@media only screen and (min-width: 576px) and (max-width: 767px) {
			.blog-wrapper .single-blog-area .hover-content .hover-post-title a {
			font-size: 18px;
			margin-bottom: 20px; } }
		.blog-wrapper .single-blog-area .hover-content .hover-post-title a:hover {
			color: #0315ff; }
		@media only screen and (max-width: 767px) {
		.blog-wrapper .single-blog-area .hover-content p {
			display: none; } }
		@media only screen and (min-width: 480px) and (max-width: 767px) {
		.blog-wrapper .single-blog-area .hover-content p {
			display: block;
			font-size: 14px;
			line-height: 1.7; } }
		.blog-wrapper .single-blog-area .hover-content > a {
		display: block;
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 0;
		color: #0315ff;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		margin-top: 50px; 
		text-decoration: none;
		text-align: center;
		}
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			.blog-wrapper .single-blog-area .hover-content > a {
			margin-top: 15px; } }
		@media only screen and (max-width: 767px) {
			.blog-wrapper .single-blog-area .hover-content > a {
			margin-top: 30px; } }
	.blog-wrapper .single-blog-area:hover .hover-content, .blog-wrapper .single-blog-area:focus .hover-content {
		opacity: 1;
		visibility: visible; 
		left: 0;
		}
	.blog-wrapper .single-blog-area:hover img, .blog-wrapper .single-blog-area:focus img {
		-webkit-transform: scale(1.1);
		transform: scale(1.1); }
		
		.blog-wrapper .single-blog-area .hover-content > a:after {
			content: '';/*‰½‚à“ü‚ê‚È‚¢*/
			display: inline-block;
			width: 6px;
			height: 6px;
			border:5px solid #0315ff;
			border-left-width:0;
			border-top-width:0;
			transform:rotate(-45deg);
			-webkit-transform:rotate(-45deg);
			-moz-transform:rotate(-45deg);
			-o-transform:rotate(-45deg);
			-ms-transform:rotate(-45deg);
		}

.single-blog-wrapper {
	position: relative;
	z-index: 1; }
	.single-blog-wrapper .single-blog-content-wrapper {
	position: relative;
	z-index: 1;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; }
	.single-blog-wrapper .single-blog-content-wrapper .single-blog--text {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
		width: 75%;
		padding: 70px 7%; }
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
		.single-blog-wrapper .single-blog-content-wrapper .single-blog--text {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 65%;
			flex: 0 0 65%;
			max-width: 65%;
			width: 65%; } }
		@media only screen and (min-width: 768px) and (max-width: 991px) {
		.single-blog-wrapper .single-blog-content-wrapper .single-blog--text {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 60%;
			flex: 0 0 60%;
			max-width: 60%;
			width: 60%; } }
		@media only screen and (max-width: 767px) {
		.single-blog-wrapper .single-blog-content-wrapper .single-blog--text {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			width: 100%; } }
		.single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
		font-size: 30px;
		line-height: 1.5;
		margin-bottom: 50px; }
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			.single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
			font-size: 24px;
			margin-bottom: 30px; } }
		@media only screen and (min-width: 768px) and (max-width: 991px) {
			.single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
			font-size: 20px;
			margin-bottom: 20px; } }
		@media only screen and (max-width: 767px) {
			.single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
			font-size: 18px;
			margin-bottom: 20px; } }
		@media only screen and (min-width: 576px) and (max-width: 767px) {
			.single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
			font-size: 24px; } }
		.single-blog-wrapper .single-blog-content-wrapper .single-blog--text p {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 50px; }
		@media only screen and (min-width: 768px) and (max-width: 991px) {
			.single-blog-wrapper .single-blog-content-wrapper .single-blog--text p {
			font-size: 16px; } }
		@media only screen and (max-width: 767px) {
			.single-blog-wrapper .single-blog-content-wrapper .single-blog--text p {
			font-size: 14px; } }
		.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote {
		margin-bottom: 50px; }
		.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote h6 {
			font-size: 18px;
			line-height: 2;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex; }
			.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote h6 i {
			margin-right: 30px;
			font-size: 30px;
			color: #0315ff; }
		.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote span {
			margin-left: 60px;
			font-size: 16px;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.6); }
	.single-blog-wrapper .single-blog-content-wrapper .related-blog-post {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		width: 25%; }
		@media only screen and (min-width: 992px) and (max-width: 1199px) {
		.single-blog-wrapper .single-blog-content-wrapper .related-blog-post {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 35%;
			flex: 0 0 35%;
			max-width: 35%;
			width: 35%; } }
		@media only screen and (min-width: 768px) and (max-width: 991px) {
		.single-blog-wrapper .single-blog-content-wrapper .related-blog-post {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;
			width: 40%; } }
		@media only screen and (max-width: 767px) {
		.single-blog-wrapper .single-blog-content-wrapper .related-blog-post {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			width: 100%; } }
		.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post {
		position: relative;
		z-index: 1;
		overflow: hidden;
		-webkit-transition-duration: 500ms;
		transition-duration: 500ms; }
		.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post img {
			width: 100%;
			-webkit-transition-duration: 500ms;
			transition-duration: 500ms; }
		.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post a {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.6);
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-ms-grid-row-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding: 5px 50px; }
			.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post a h5 {
			color: #ffffff;
			text-align: center;
			font-size: 18px;
			margin-bottom: 0;
			line-height: 1.5; }
		.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post:hover img, .single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post:focus img {
			-webkit-transform: scale(1.2);
			transform: scale(1.2); }
